{{text-input id='company' value=job.company placeholder='New Job Company' label='Company'}}
{{text-input id='title' value=job.title placeholder='New Job Title' label='Title'}}
{{text-input id='url' value=job.url placeholder='New Job URL' label='URL' }}
<div class="form-group row">
  <label for='kind' class="col-sm-2 col-form-label">Status</label>
  <div class="col-sm-10">
    <select class='form-control' onchange={{action (mut job.status) value='target.value'}} value=job.status>
      {{#each statusList as |status|}}
        <option value=status.value>{{status.text}}</option>
      {{/each}}
    </select>
  </div>
</div>
{{!-- {{#x-select value=job.status action=(action (mut job.status) value='target.value') as |xs|}}
  {{#xs.option value='new'}}New{{/xs.option}}
  {{#xs.option value='applied'}}Applied{{/xs.option}}
  {{#xs.option value='inprogress'}}In Progress{{/xs.option}}
{{/x-select}} --}}
<div class="form-group row">
  <label for='kind' class="col-sm-2 col-form-label">Date Applied</label>
  <div class="col-sm-10">
    {{input type='date' class='form-control' placeholder='Date Applied' value=job.dateApplied}}
  </div>
</div>
{{text-input id='recruiterName' value=job.recruiterName placeholder='Recruiter Name' label='Recruiter Name' }}
{{text-input id='recruiterEmail' placeholder='Recruiter Email' value=job.recruiterEmail label='Recruiter Email'}}
{{text-input id=RecruiterPhone placeholder='Recruiter Phone' value=job.recruiterPhone label='Recruiter Phone'}}
<div class="form-group row">
  <label for='kind' class="col-sm-2 col-form-label">Notes</label>
  <div class="col-sm-10">
    {{textarea class='form-control' cols=80 rows=6 placeholder='Notes' value=job.notes}}
  </div>
</div>
