{{input type='text' placeholder='New Job Company' value=job.company}}
{{input type='text' placeholder='New Job Title' value=job.title}}
{{input type='text' placeholder='New Job URL' value=job.url}}
<select onchange={{action (mut job.status) value='target.value'}}>
    <option value="new">New</option>
    <option value="applied">Applied</option>
    <option value="inprogress">In Progress</option>
    <option value="noresponse">No Response</option>
    <option value="offer">Offer Made</option>
    <option value="rejected">Rejected</option>
</select>
{{input type='date' placeholder='Date Applied' value=job.dateApplied}}
{{input type='text' placeholder='Recruiter Name' value=job.recruiterName}}
{{input type='text' placeholder='Recruiter Email' value=job.recruiterEmail}}
{{input type='text' placeholder='Recruiter Phone' value=job.recruiterPhone}}
{{textarea cols=80 rows=6 placeholder='Notes' value=job.notes}}
