<h2>This is a job</h2>

<h3 class="list-header">{{model.company}}</h3>
<h4 class="list-header">{{model.title}}</h4 >
<p>URL:  {{model.url}}</p>
<p>Status:  {{model.status}}</p>
<p>Date Applied: {{model.dateApplied}}</p>
<p>Recruiter Name:  {{model.recruiterName}}</p>
<p>Recruiter Email:  {{model.recruiterEmail}}</p>
<p>Recruiter Phone:  {{model.recruiterPhone}}</p>
<p>Notes:  {{model.notes}}</p>
